        <div class="col-d-3 col-t-4">
            <div class="row">
                <div class="card">
                    <div><img src="car.jpg"/></div>
                    <hr />
                    <div class="card-details">
                        <label class="tag">Matric. No.:&nbsp</label><label class="val">UG/12/1422</label><br/>
                        <label class="tag">First Name:&nbsp</label><label class="val">Clement</label><br/>
                        <label class="tag">Last Name:&nbsp</label><label class="val">Azibataram</label><br/>
                        <label class="tag">Level:&nbsp</label><label class="val">500</label>
                    </div>
                </div>
                <div class="menu-container l-shadow">
                    <ul class="ul-menu">
                        <li class="li-menu-item"><%= link_to "Notifications", "", class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Submit Assignment", assignment_submissions_path, class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Check Results", check_results_path, class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Register Courses", registrations_path, class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Download Assignment", assignment_getassignment_path, class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Visit Library", "", class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Lecture Timetable", "", class:"student-link-menu" %></li>
                    </ul>
                </div>
            </div> 
        </div>