        <div class="col-d-3 col-t-4">
            <div class="row">
                <div class="card">
                    <% if current_student.passport.blank? %>
                        <% if current_student.sex == 'male' %>
                            <div> <%= image_tag 'profile_images/male.png', {class: 'profile-pic'} %></div>
                        <% else %>
                            <div> <%= image_tag 'profile_images/female.png', {class: 'profile-pic'} %></div>
                        <% end %>
                    <% else %>
                        <div> <%= image_tag 'profile_images/'+current_student.passport.to_s, {class: 'profile-pic'} %></div>
                    <% end %>
                    <hr />
                    <div class="card-details">
                       <div> <label class="tag">Matric. No.:&nbsp</label><label class="val"><%= current_student.matno.upcase %></label> </div>
                       <div> <label class="tag">Surname:&nbsp</label><label class="val"><%= current_student.sname.titlecase %></label> </div>
                        <div> <label class="tag">First Name:&nbsp</label><label class="val"><%= current_student.fname.titlecase %></label> </div>
                        <div> <label class="tag">Level:&nbsp</label><label class="val">500</label> </div>
                    </div>
                </div>
                <div class="menu-container l-shadow">
                    <ul class="ul-menu">
                        <li class="li-menu-item"><%= link_to "Notifications", student_notification_path, class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Submit Assignment", assignment_submissions_path, class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Check Results", check_results_path, class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Register Courses", new_registration_path, class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Download Assignment", assignment_getassignment_path, class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Visit Library", "", class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Lecture Timetable", "", class:"student-link-menu" %></li>
                    </ul>
                </div>
            </div> 
        </div>