           <div = "row">
        	<div class = "col-8">
        	<div class = "col-1"></div>
        	<div class = "col-1 no-padding">
        		<div class = "trans-background centered ">
        			<ul id = "year" class = "nav-list">
        				<li>2016</li>
        				<hr class ="hr"/>
        				<li>2015</li>
        				<hr class ="hr"/>
        				<li>2014</li>
        				<hr class ="hr"/>
        				<li>2013</li>
        				<hr class ="hr"/>
        				<li>2012</li>
        				<hr class ="hr"/>
        				<li>2011</li>
        			</ul>
        		</div>
        	</div>
        	<div class = "col-5 no-padding margin-left white-font">
				<div class = "col-8  no-padding centered">
				<div class = "row">
					<div class = "sixcol-1 no-top ">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<%= image_tag "image.jpg", class: "margin-top1 img-dim" %>
							</div>
								<p class = "centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 no-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<%= image_tag "image.jpg", class: "margin-top1 img-dim" %>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 no-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<%= image_tag "image.jpg", class: "margin-top1 img-dim" %>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 no-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<%= image_tag "image.jpg", class: "margin-top1 img-dim" %>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 no-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<%= image_tag "image.jpg", class: "margin-top1 img-dim" %>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 no-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img src = "image.jpg" class = "margin-top1 img-dim"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					
				</div>
				<div class = "row">
					<div class = "sixcol-1 pad-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img src = "image.jpg" class = "margin-top1 img-dim"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 pad-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img src = "image.jpg" class = "margin-top1 img-dim"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 pad-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img src = "image.jpg" class = "margin-top1 img-dim"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 pad-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img src = "image.jpg" class = "margin-top1 img-dim"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 pad-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img src = "image.jpg" class = "margin-top1 img-dim"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 pad-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img src = "image.jpg" class = "margin-top1 img-dim"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					
				</div>
				<div class = "row">
					<div class = "sixcol-1 pad-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img src = "image.jpg" class = "margin-top1 img-dim"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 pad-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img src = "image.jpg" class = "margin-top1 img-dim"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 pad-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img src = "image.jpg" class = "img-dim margin-top1"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 pad-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img src = "image.jpg" class = "img-dim margin-top1"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 pad-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img src = "image.jpg"  class = "img-dim margin-top1"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
					<div class = "sixcol-1 pad-top">
						<div class = "border transblue-background  img pro-height">
							<div class = "">
								<img class = "img-dim" src = "image.jpg" class = "margin-top1 img-dim"/>
							</div>
								<p class = " no-padding centered margin-top1 small-font">
									AREMIEYE TAMARATOMBRA
								<p/>
								<div class = "hide margin-top xsmall-font  bold-font text-left pad-left1 ">
									<p>Email : wokorosamuel@yahoo.com </p>
									<p>Phone : +234906325344</p>
								</div>
						</div>
					</div>
				</div>
			</div>
        	</div>
			<div class = "col-1"></div>
        	</div>
        </div>