 <% content_for :admin_header do %>
    <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header ">
                <a class="navbar-brand" href="">
                    <%= image_tag('ndu.png', class: 'icon icon-img logo') %>
                    <strong>ELECT/ELECT</strong>
                </a>
            </div>
            <ul class="nav navbar-top-links navbar-right style="float:right>
                    <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
<% end %>

    <div id="wrapper">
        
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <div id = "navs" class="admin-nav">
            <ul class="na">
                <li class = "adminli" id = "dash"><%= image_tag('navs/course.svg', class: 'icon icon-img')%><%= link_to "Dashboard", admin_dashboard_path, remote:true %></li>
                <li class = "adminli" id = "lect"><%= image_tag('navs/lecturer.svg', class: 'icon icon-img')%><%= link_to "Lecturer", admin_lecturer_path, remote:true %></li>
                <li class = "adminli" id = "stud"><%= image_tag('navs/student.svg', class: 'icon icon-img')%><%= link_to "Student", admin_student_path, remote:true %></li>
                <li class = "adminli" id = "cos"><%= image_tag('navs/course.svg', class: 'icon icon-img')%><%= link_to "Courses", admin_course_path, remote:true %></li>
                <li class = "adminli" id = "new"><%= image_tag('navs/news.svg', class: 'icon icon-img')%><%= link_to "News", admin_news_path, remote:true %></li>
                <li class = "adminli" id = "session_act"><%= image_tag('navs/news.svg', class: 'icon icon-img')%><%= link_to "Session Activities", admin_session_activities_path, remote:true %> </li>
            </ul>
        </div>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
      
        <div id="page-wrapper">          
            <div id="page-inner" class="myfade">
                <div class="row">
            <div class="col-d-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>No. of Visits</h4>
                        <div class="easypiechart" id="easypiechart-blue" data-percent="82"><span class="percent">820</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-d-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Lecturers</h4>
                        <div class="easypiechart" id="easypiechart-orange" data-percent="55"><span class="percent">400</span></div>
                    </div>
                </div>
            </div>
            <div class="col-d-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Students</h4>
                        <div class="easypiechart" id="easypiechart-teal" data-percent="84"><span class="percent">840</span></div>
                    </div>
                </div>
            </div>
            <div class="col-d-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Courses</h4>
                        <div class="easypiechart" id="easypiechart-red" data-percent="46"><span class="percent">460</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
                
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-d-12">
                    </div>
                    <div class="col-md-4 col-sm-12 col-d-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Tasks Panel
                            </div>
                            <div class="panel-body">
                                <div class="list-group">

                                    <a href="#" class="list-group-item">
                                        <span class="badge">7 minutes ago</span>
                                        <i class="fa fa-fw fa-comment"></i> Lecturer signed in
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">16 minutes ago</span>
                                        <i class="fa fa-fw fa-truck"></i> New Lecturer created
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">36 minutes ago</span>
                                        <i class="fa fa-fw fa-globe"></i> New Student created
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="#">More Tasks <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->        
                <footer>

                </footer>
            </div>
        </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>

    <% content_for :admin_footer do %>
        <div>
        </div>
    <% end %>