 <% content_for :admin_header do %>
    <div class = "div col-t-3 col-d-2" id = "admin-head">
        <%= image_tag "navs/ndu_logo.png" %>
        <div id = "navs">
            <ul class="na">
               
                <li class = "adminli" id = "dash"><%= image_tag('navs/course.svg', class: 'icon icon-img')%><%= link_to "Dashboard", admin_dashboard_path, remote:true %></li>
                <li class = "adminli" id = "lect"><%= image_tag('navs/lecturer.svg', class: 'icon icon-img')%><%= link_to "Lecturer", admin_lecturer_path, remote:true %></li>
                <li class = "adminli" id = "stud"><%= image_tag('navs/student.svg', class: 'icon icon-img')%><%= link_to "Student", admin_student_path, remote:true %></li>
                <li class = "adminli" id = "cos"><%= image_tag('navs/course.svg', class: 'icon icon-img')%><%= link_to "Courses", admin_course_path, remote:true %></li>
                <li class = "adminli" id = "new"><%= image_tag('navs/news.svg', class: 'icon icon-img')%><%= link_to "News", admin_news_path, remote:true %></li>
                <li class = "adminli" id = "session_act"><%= image_tag('navs/news.svg', class: 'icon icon-img')%><%= link_to "Session Activities", admin_session_activities_path, remote:true %> </li>
            </ul>
        </div>
    </div>
<% end %>

    <div class = "div" id="center" >
        <div id="dashboard" class = "page my-fade">
                <div class = "tips">
                <%= image_tag('navs/lecturer.svg', class: 'icon icon-img')%><br/>
                <span>100</span><br/>
                Staffs
                </div>
                <div class = "tips">
                <%= image_tag('navs/student.svg', class: 'icon icon-img')%><br/>
                <span>100</span><br/>
                Students
                </div>
                <div class = "tips">
                <%= image_tag('navs/course.svg', class: 'icon icon-img')%><br/>
                <span>100</span><br/>
                Courses
                </div>
        </div>
    </div>
    <div id="load">
        <div class="loader"></div>
    </div>