        <div class="col-d-3 col-t-4">
            <div class="row">
                <div class="card">
                    <div>Img</div>
                    <hr />
                    <div class="card-details">
                        <label class="tag">Staff ID. :&nbsp</label><label class="val">sf/12/1463</label><br/>
                        <label class="tag">First Name:&nbsp</label><label class="val">Clement</label><br/>
                        <label class="tag">Last Name:&nbsp</label><label class="val">Azibataram</label><br/>
                        <label class="tag">Level:&nbsp</label><label class="val">Senior Staff</label>
                    </div>
                </div>
                <div class="menu-container l-shadow">
                    <ul class="ul-menu">
                        <li class="li-menu-item"><%= link_to "Notifications", lecturer_notification_path, class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Upload Assignment", assignments_path,  class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Get Assignments", all_assign_courses_path,  class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Submit Results", submit_results_path, class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Upload Materials", "", class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Lecture Timetable", "", class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Print Attendance", course_attendance_path, class:"student-link-menu" %></li>
                        <li class="li-menu-item"><%= link_to "Send Message", "", class:"student-link-menu" %></li>
                    </ul>
                </div>
            </div> 
        </div>