<div class = "row" >
	
	<%= render 'layouts/lecturer_layout/card' %>
	<div class = "col-d-9 col-t-8">
		<div class = "dashboard">
			<% if @assigns.nil? %>
				<h1 class = "header centered">NO ASSIGNMENTS GIVEN</h1>
			<% else %>
				<h1 class = "header centered">GET ASSIGNMENTS SUBMITTED</h1>
				<% @assigns.each do |c| %>
					<%= form_for :assign, url: get_assignment_path do |f| %>
						Assignment<%= c.id %>
						<%= f.hidden_field :assign_id, value: c.id %>
						<%= f.submit :get %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>