  
        <!-- The main content starts here-->
        <div class = "row">
          <div class = "col-2"></div>
                <div class = "col-4 no-padding ">
                    <!-- The login form -->
                    <div id="ccl">
                        <div id="hf">
                            <p id="ft">Admin Login</p>
                                <div id="hsf">
                                        <%= form_for :admin, url: admins_path do |f| %>
											<%= f.label :name, id: 'id' %>
											<%= f.text_field :name %><br/>
											<%= f.label :password %>
											<%= f.password_field :password %><br/>
											<%= submit_tag :sigin %>
										<% end %>
                                    
                                </div>
                        </div>
                    </div>
				</div>
          <div class = "col-2"></div> 
		</div>