<% if @student.errors.any? %>
    $("#create_success").html("");
    $("#create_error").html("");
    $("#create_success").css("display", "none");
    $("#create_error").html('<% @student.errors.full_messages.each do|msg| %><div><%= @counter; msg %></div><% end %>');
    $("#create_error").css('background-color', 'rgba(225,10,10,0.5)');
    $("#create_error").css("display", "block");
<% elsif @student_other_names.errors.any? %>
    $("#create_success").html("");
    $("#create_error").html("");
    $("#create_success").css("display", "none");
    $("#create_error").append('<% @student_other_names.errors.full_messages.each do|msg| %><div><%= @counter; msg %></div><% end %>');
    $("#create_error").css('background-color', 'rgba(225,10,10,0.5)');
    $("#create_error").css("display", "block");
<% else %>
    $("#create_error").html("");
    $("#create_success").html("");
    $("#create_error").css("display", "none");
    $("#create_success").html("<div>Creation Successful</div>");
    $("#create_success").css('background-color', 'rgba(10,225,10,0.5)');
    $("#create_success").css("display", "block");
	$("#create_cont").css("display", "none");
	$("#alert-body").text("Student Information Successfully Created");
	$("#alert-modal").css("display", "block");
<% end %>

$("#table_for_students").html(generate100LevelStudentsTable());
$("#table_for_students").append(generate200LevelStudentsTable());
$("#table_for_students").append(generate300LevelStudentsTable());
$("#table_for_students").append(generate400LevelStudentsTable());
$("#table_for_students").append(generate500LevelStudentsTable());
$("#table_for_students").append(generateSpilloverStudentsTable());

	var student_level1 = "<%= @student.level %>"
	if (student_level1 <= 500){
		$("#"+student_level1+"-level-tab-title").click();
	}
	else{
		$("#spillover-tab-title").click();
	}

$("#close-alert, #close-alerts").click(function(){
	$("#alert-modal").css("display", "none");
});

trig_student_edit();


function generate100LevelStudentsTable(){
		<% @students = Student.where("level==?", 100) %>
		return '<table class="table table-striped table-bordered table-hover student-table tab-content 100level" id="students-100-level"><tr><th>S/N</th><th>Mat. No.</th><th>Name</th><th>Sex</th><th>Nationality</th><th>State of Origin</th><th>L.G.A</th><th>E-mail</th><th>Phone Number</th></tr><% @counter = 1 %><% @students.each do|student| %><tr class="student_details" id="<%= student.id %>"><td><%= @counter %></td><td><%= student.matno %></td><td><%= student.sname %> <%=student.fname %> <%= student.student_othername.othernames if student.student_othername %></td><td><%= student.sex %></td><td><%= student.nationality %></td><td><%= student.state_of_origin %></td><td><%= student.lga %></td><td><%= student.email %></td><td><%= student.phone %></td></tr><% @counter +=1 %><% end %></table>';
	} 

	function generate200LevelStudentsTable(){
		<% @students = Student.where("level==?", 200) %>
		return '<table class="table table-striped table-bordered table-hover student-table tab-content 200level" id="students-200-level"><tr><th>S/N</th><th>Mat. No.</th><th>Name</th><th>Sex</th><th>Nationality</th><th>State of Origin</th><th>L.G.A</th><th>E-mail</th><th>Phone Number</th></tr><% @counter = 1 %><% @students.each do|student| %><tr class="student_details" id="<%= student.id %>"><td><%= @counter %></td><td><%= student.matno %></td><td><%= student.sname %> <%=student.fname %> <%= student.student_othername.othernames if student.student_othername %></td><td><%= student.sex %></td><td><%= student.nationality %></td><td><%= student.state_of_origin %></td><td><%= student.lga %></td><td><%= student.email %></td><td><%= student.phone %></td></tr><% @counter +=1 %><% end %></table>';
	} 
	
	function generate300LevelStudentsTable(){
		<% @students = Student.where("level==?", 300) %>
		return '<table class="table table-striped table-bordered table-hover student-table tab-content 300level" id="students-300-level"><tr><th>S/N</th><th>Mat. No.</th><th>Name</th><th>Sex</th><th>Nationality</th><th>State of Origin</th><th>L.G.A</th><th>E-mail</th><th>Phone Number</th></tr><% @counter = 1 %><% @students.each do|student| %><tr class="student_details" id="<%= student.id %>"><td><%= @counter %></td><td><%= student.matno %></td><td><%= student.sname %> <%=student.fname %> <%= student.student_othername.othernames if student.student_othername %></td><td><%= student.sex %></td><td><%= student.nationality %></td><td><%= student.state_of_origin %></td><td><%= student.lga %></td><td><%= student.email %></td><td><%= student.phone %></td></tr><% @counter +=1 %><% end %></table>';
	} 

	function generate400LevelStudentsTable(){
		<% @students = Student.where("level==?", 400) %>
		return '<table class="table table-striped table-bordered table-hover student-table tab-content 400level" id="students-400-level"><tr><th>S/N</th><th>Mat. No.</th><th>Name</th><th>Sex</th><th>Nationality</th><th>State of Origin</th><th>L.G.A</th><th>E-mail</th><th>Phone Number</th></tr><% @counter = 1 %><% @students.each do|student| %><tr class="student_details" id="<%= student.id %>"><td><%= @counter %></td><td><%= student.matno %></td><td><%= student.sname %> <%=student.fname %> <%= student.student_othername.othernames if student.student_othername %></td><td><%= student.sex %></td><td><%= student.nationality %></td><td><%= student.state_of_origin %></td><td><%= student.lga %></td><td><%= student.email %></td><td><%= student.phone %></td></tr><% @counter +=1 %><% end %></table>';
	} 


	function generate500LevelStudentsTable(level){
		<% @students = Student.where("level==?", 500) %>
		return '<table class="table table-striped table-bordered table-hover student-table tab-content 500level" id="students-500-level"><tr><th>S/N</th><th>Mat. No.</th><th>Name</th><th>Sex</th><th>Nationality</th><th>State of Origin</th><th>L.G.A</th><th>E-mail</th><th>Phone Number</th></tr><% @counter = 1 %><% @students.each do|student| %><tr class="student_details" id="<%= student.id %>"><td><%= @counter %></td><td><%= student.matno %></td><td><%= student.sname %> <%=student.fname %> <%= student.student_othername.othernames if student.student_othername %></td><td><%= student.sex %></td><td><%= student.nationality %></td><td><%= student.state_of_origin %></td><td><%= student.lga %></td><td><%= student.email %></td><td><%= student.phone %></td></tr><% @counter +=1 %><% end %></table>';
	} 

	function generateSpilloverStudentsTable(level){
		<% @students = Student.where("level>?", 500) %>
		return '<table class="table table-striped table-bordered table-hover student-table tab-content spillover" id="students-spillover"><tr><th>S/N</th><th>Mat. No.</th><th>Name</th><th>Sex</th><th>Nationality</th><th>State of Origin</th><th>L.G.A</th><th>E-mail</th><th>Phone Number</th></tr><% @counter = 1 %><% @students.each do|student| %><tr class="student_details" id="<%= student.id %>"><td><%= @counter %></td><td><%= student.matno %></td><td><%= student.sname %> <%=student.fname %> <%= student.student_othername.othernames if student.student_othername %></td><td><%= student.sex %></td><td><%= student.nationality %></td><td><%= student.state_of_origin %></td><td><%= student.lga %></td><td><%= student.email %></td><td><%= student.phone %></td></tr><% @counter +=1 %><% end %></table>';
	} 
	
	
	//display student details when a row is clicked
function trig_student_edit(){
	//this is a duplicated function, a copy is in create.js.erb
	$("tr").click(function(){
		var lec = {};
		<% @students = Student.all %>
		<% @students.each do|student| %>
			if (this.id == "<%= student.id %>"){
				$("#edit_id_field").val("<%= student.id %>");
				$("#edit_mat_no_field").val("<%= student.matno %>");
				$("#edit_sname_field").val("<%= student.sname %>");
				$("#edit_fname_field").val("<%= student.fname %>");
				$("#edit_sex_field").val("<%= student.sex %>");
				$("#edit_state_of_origin_field").val("<%= student.state_of_origin %>");
				$("#edit_lga_field").val("<%= student.lga %>");
				$("#edit_nationality_field").val("<%= student.nationality %>");
				$("#edit_religion_field").val("<%= student.religion %>");
				$("#edit_email_field").val("<%= student.email %>");
				$("#edit_phone_field").val("<%= student.phone %>");
				$("#edit_level_field").val("<%= student.level %>");
				$("#edit_othernames_field").val("<%= student.student_othername.othernames if student.student_othername %>");
				$(":text").attr("disabled","true");
				$("#edit_student_form_fields").css("display","inline-block");
				$("#edit_student_button").css("display","none");
				$("#edit_password_field").css("display","none");
				$("#edit_cont1").css("display", "block");
			}

		<% end %>
	});
}