        <!-- The main content starts here-->
        <div class = "row">
          <div class = "col-2"></div>
                <div class = "col-4 no-padding ">
                    <!-- The login form -->
                    <div id="ccl">
                        <div id="hf">
                            <p id="ft">Student Login</p>
                                <div id="hsf">
                                        <%= form_for :student, url: students_path do |f| %>
                                            <%= f.label :matno, id: 'matno' %>
                                            <%= f.text_field :matno %><br/>
                                            <%= f.label :password %>
                                            <%= f.password_field :password %><br/>
                                            <%= submit_tag :sigin %>
                                        <% end %>
                                </div>
                        </div>
                    </div>
                </div>
          <div class = "col-2"></div> 
        </div>