 <% content_for :admin_header do %>
    <div class = "div col-t-3 col-d-2" id = "admin-head">
        <%= image_tag "ndu_logo.png" %>
        <div id = "navs">
            <ul>
                <li class = "adminli" id = "hom"><%= image_tag('navs/course.svg', class: 'icon icon-img')%>Dashboard</li>
                <li class = "adminli" id = "lect"><%= image_tag('navs/lecturer.svg', class: 'icon icon-img')%>Lecturer</li>
                <li class = "adminli" id = "stud"><%= image_tag('navs/student.svg', class: 'icon icon-img')%>Student</li>
                <li class = "adminli" id = "cos"><%= image_tag('navs/course.svg', class: 'icon icon-img')%>Courses</li>
                <li class = "adminli" id = "new"><%= image_tag('navs/news.svg', class: 'icon icon-img')%>News</li>
                <li class = "adminli" id = "session_act"><%= image_tag('navs/news.svg', class: 'icon icon-img')%>Session Activities </li>
            </ul>
        </div>
    </div>
    <% end %>

    <div class = "div col-t-9 col-d-10" id = "content-container">
    </div>
    <div id="load">
        <div class="loader"></div>
    </div>
