<div id ="edit_course_option" class="course_opion c" data-class="remove">
    <!-- form for course creation-->
    <div class = "row">
        <div class = "col-t-2 col-d-2"></div>
            <div class = "col-t-8 col-d-8">
                <h4>Edit Course</h4>
                    <% if flash[:success] %>
                        <div class = 'success'><%= flash[:success] %></div>
                    <% end %>
                    <% if flash[:error] %>
                        <div data-class="notice" class = 'error'></div>
                    <% end %>
                    <%= form_for :edit_course, url:update_course_path, remote:true do|f| %>
                    <%= f.hidden_field :old_ccode, id: 'old_ccode' %>
                    <%= f.label :ccode,  id: 'edit_ccode' %>
                    <%= f.text_field :ccode, id: 'edit_ccode_field' %><br/>
                    <%= f.label :ctitle,  id: 'edit_ctitle' %>
                    <%= f.text_field :ctitle,  id: 'edit_ctitle_field' %><br/>
                    <%= f.label :unit,  id: 'edit_unit' %>
                    <%= f.text_field :unit,  id: 'edit_units_field' %><br/>
                    <%= f.label :level,  id: 'edit_level' %>
                    <%= f.text_field :level,  id: 'edit_level_field' %><br/>
                    <%= f.label :semester,  id: 'edit_semester' %>
                    <%= f.text_field :semester,  id: 'edit_semester_field' %><br/>
                    <%= f.submit :Finish, id: 'edit_course' %>
                <% end %>
            </div>
        <div class = "col-t-2 col-d-2"></div>
    </div>
</div>