<!--DELETE OPERATIONS -->
    <div id = "fnd_course_option" class="course_option" data-class="remove">
        <!-- form for course editing-->
        <div class = "row">
            <div class = "col-t-2 col-d-2"></div>
                <div class = "col-t-8 col-d-8">
                    <div class="handle white_bg">
                        <h4>Find Course</h4>
                        <% if flash[:success] %>
                            <div class = 'success'><%= flash[:success] %></div>
                        <% end %>
                        <% if flash[:error] %>
                            <div class = 'error'><%= flash[:error] %></div>
                        <% end %>
                        <%= form_for :fnd_course, url:fnd_course_path, remote:true do|f| %>
                        <%= f.label :ccode,  id: 'fnd_ccode' %>
                        <%= f.text_field :ccode, id: 'fnd_ccode_field', placeholder: 'Enter course code ....'%><br/>
                        <%= f.submit :find %>
                        <% end %>
                    </div>
                </div>
            <div class = "col-2"></div>
        </div>
    </div>
