$("#edit_cont1").css("display", "none");
$("tr[id=<%= @lecturer.id %>]").fadeOut(500, function(){
												$("#table_for_lecturers").html(generateLecturersTable2());
												trig_lecturer_edit0();
													$("#alert-body").text("Lecturer Information Successfully Deleted");
													$("#alert-modal").css("display", "block");
												});


$("#close-alert, #close-alerts").click(function(){
	$("#alert-modal").css("display", "none");
});


//User defined functions
//duplicated function a copy is in create another in lecturer.js.erb
function generateLecturersTable2(){
		return '<table class="table table-striped table-bordered table-hover" id="lectrers"><tr><th>S/N</th><th>Staff Id</th><th>Name</th><th>Sex</th><th>Nationality</th><th>State of Origin</th><th>L.G.A</th><th>E-mail</th><th>Phone Number</th></tr><% @counter = 1 %><% @lecturers.each do|lecturer| %><tr class="lecturer_details" id="<%= lecturer.id %>"><td><%= @counter %></td><td><%= lecturer.staff_id %></td><td><%= lecturer.sname %> <%=lecturer.fname %> <%= lecturer.lecturer_othername.othernames if lecturer.lecturer_othername %></td><td><%= lecturer.sex %></td><td><%= lecturer.nationality %></td><td><%= lecturer.state_of_origin %></td><td><%= lecturer.lga %></td><td><%= lecturer.email %></td><td><%= lecturer.phone %></td></tr><% @counter +=1 %><% end %></table>';
}

//duplicated function a copy is in lecturer.js.erb
//display lecturer details when a row is clicked
function trig_lecturer_edit0(){
	$("tr").click(function(){
		var lec = {};
		<% @lecturers.each do|lecturer| %>
			if (this.id == "<%= lecturer.id %>"){
				$("#edit_id_field").val("<%= lecturer.id %>");
				$("#edit_staff_id_field").val("<%= lecturer.staff_id %>");
				$("#edit_sname_field").val("<%= lecturer.sname %>");
				$("#edit_fname_field").val("<%= lecturer.fname %>");
				$("#edit_sex_field").val("<%= lecturer.sex %>");
				$("#edit_state_of_origin_field").val("<%= lecturer.state_of_origin %>");
				$("#edit_lga_field").val("<%= lecturer.lga %>");
				$("#edit_nationality_field").val("<%= lecturer.nationality %>");
				$("#edit_religion_field").val("<%= lecturer.religion %>");
				$("#edit_email_field").val("<%= lecturer.email %>");
				$("#edit_phone_field").val("<%= lecturer.phone %>");

				$("#edit_othernames_field").val("<%= lecturer.lecturer_othername.othernames if lecturer.lecturer_othername %>");
				$(":text").attr("disabled","true");
				$("#edit_lecturer_form_fields").css("display","inline-block");
				$("#edit_lecturer_button").css("display","none");
				$("#edit_password_field").css("display","none");
				$("#edit_cont1").css("display", "block");
				$("#edit_success").css("display", "none");
			}

		<% end %>
	});
}
