<div class = "row" >
	<%= render 'layouts/lecturer_layout/card' %>
	<div class = "col-d-9 col-t-8">
		<div class = "dashboard">
			<h1 class = "header centered">Choose Course To Print Attendance</h1>
            <% if @courses.nil? %>
                <h4> Sorry You were not assign any course for the session <h4>
            <% else %>
            <% if flash[:success] %>
                <div class="success"><%= flash[:success] %>
            <% end %>
             <% if flash[:success] %>
                <div class="success"><%= flash[:error] %>
              <% end %>
                <table id="submission">
                <th>S/N</th><th>Course Code</th><th>Course Title</th><th>Action</th>
                <% @courses.each do|course| %>
                    <% if submited_before?(course) %>
                        <tr>
                            <td><%= @counter %></td>
                            <td><%= course.ccode %></td>
                            <td><%= course.ctitle.titlecase %></td>
                            <td><%= form_for :course, url: edit_scores_path do|f| %>
                                <%= f.hidden_field :course_id, value:"#{course.id}" %>
                                <%= f.submit "Edit Result" %>
                            <% end %></td>
                        </tr>
                    <% else %>
                    <% end %>
                    <% @counter +=1 %>
                <% end %>
                </table>
           <% end %>
		</div>
	</div>
</div>