<style type="text/css">
    .nmenu{
        color:white;
    }

    .smenu{
        display:inline-block;
        width:100%;
    }
</style>

<div class = "col-8">
        <div class = "col-1"></div>
        <div class = "col-6 trans-background no-padding header-font" id="heade">
            <!-- The school logo -->
            <div class = "col-1 no-padding img-pad-left">
                <%= image_tag "NDU_logo.png", alt: "NDU Logo", title: "NDU Logo", class: "img-width", id: "ndu-logo" %>
            </div>
            <div class = "col-4 no-padding centered darkblue-font white-shadow medium-margin">
                    NIGER DELTA UNIVERSITY DEPARTMENT OF</br>ELECTRICAL / ELECTRONICS ENGINNERING</br>WILBERFORCE ISLAND</br>BAYELSA STATE
            </div>
            <div class = "col-1 img-pad-right">
                <%= image_tag "IEEE_logo.png", alt: "IEEE Logo", title: "IEEE Logo", class: "margin-top img-width", id: "ieee-logo" %>
            </div>
        </div>
             <div class = "col-1">
             </div>
        
        
        


        <!-- Navigation Bar -->
        
        <div id="top-nav" class="row">
            <div class = "col-1"></div>
                <div id = "header" class = "medium-margin blue-background white-border2 col-6 no-top pad-left">
                    <ul class="nav-list" id="top-nav-list">
                        <!-- Home nav -->
                        <li class="main-nav-item" id="home"><%= link_to 'Home', root_url, class:'nmenu' %> </li>
                
                        <!-- Resource Menu -->
                        <li class="main-nav-item" id="resource">Resource
                        <ul class="sub-nav-list nav-list" id="resource-sub-list">
                            <li class="" id="project-archive">project-archive</li>
                            <li class="" id="gallery">Gallery</li>
                        </ul>
                    </li>
                
                    <!-- News nav -->
                    <li class="main-nav-item" id="news"><%= link_to 'News', news_index_path, class:'nmenu' %></li>
                
                    <!-- Programmes Menu -->
                    <li class="main-nav-item" id="programmes">Programmes
                        <ul class="sub-nav-list nav-list" id="programmes-sub-list">
                        
                        <!-- Post graduate submenu under programmes -->
                            <li class="" id="post-graduate">Post Graduate <span class="arrow" id="arrow1">&#9656;</span>
                                <ul class="sub-nav-list nav-list" id="post-graduate-sub-list">
                                    <li class="" id="antenna">Antenna</li>
                                    <li class="" id="communication">Communication</li>
                                    <li class="" id="power-distribution">Power Distribution</li>
                                </ul>
                            </li>
                        
                        <!-- Under graduate submenu under programmes -->
                            <li class="" id="under-graduate">Under Graduate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="arrow" id="arrow2">&#9656;</span>
                                <ul class="sub-nav-list nav-list" id="under-graduate-sub-list">
                                    <li class="" id="power">Power</li>
                                    <li class="" id="electronics">Electronics</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                
                <!-- About menu -->
                    <li class="main-nav-item" id="about">About
                        <ul class="sub-nav-list nav-list" id="about-sub-list">
                            <li class="" id="history">History</li>
                            <li class="" id="philosophy">Philosophy</li>
                            <li class="" id="mission-vision">Mission/Vision</li>
                            <li class="" id="aims-objectives">Aims/Objectives</li>
                        </ul>
                    </li>

                    <!-- Login Menu -->
                    <li class="main-nav-item  place-right" id="login">Login

                        <!-- Login sub menu -->
                        <ul class="sub-nav-list nav-list " id="login-sub-list">
                            <li class="" id="admin"><%= link_to 'Admin', admin_login_url, class:'smenu' %></li>
                            <li class="" id="staff"><%= link_to 'Staff', lecturer_login_url, class:'smenu' %></li>
                            <li class="" id="student"><%= link_to 'Student', student_login_url, class:'smenu' %></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class = "col-1"></div>
        </div>