<style type="text/css">
	.ssmenu{
		display:inline-block;
		width:100%;
		margin: 0px;
		height: 100%;
	}
</style>
<div class = "trans-background centered ">
    <ul id = "year" class = "nav-list">
        <li><%= link_to "Check Result", "", class:'ssmenu' %><br></li><hr class ="hr"/>
        <li><%= link_to "Submit Assignment", "", class:'ssmenu' %><br></li><hr class ="hr"/>
        <li><%= link_to "Visit Library", "", class:'ssmenu' %><br></li><hr class ="hr"/>
        <li><%= link_to "Lecture Timetable", "", class:'ssmenu' %><br></li><hr class ="hr"/>
        <li><%= link_to "Download", "", class:'ssmenu' %><br></li><hr class ="hr"/>
        <li><%= link_to "Check Result", "", class:'ssmenu' %><br></li><hr class ="hr"/>
    </ul>
</div>