<!DOCTYPE html>
<html>
  <head>
    <title>Home - EEE NDU</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <div class="row" style="height: 100%; overflow: auto">
        <%= content_for?(:admin_header) ? yield(:admin_header) : render('layouts/header')%>
        <%= yield %>
        <% render 'layouts/footer' %>
    </div>
  </body>
</html>